*{
  margin: 0;
  padding: 0;
  transition: .5s ease-in-out;
}
$primary: #b90504;
$secondary: #990100;
$font-dark: #333333;
$font-darker: #1f1e1e;
$neutral-gray: #E8E8E8;
$white: #F6F6F6;
$test: #ececec;

body{
  font-family: 'Montserrat';
  background: $neutral-gray;
}

header, main{
  margin: 1rem;
  .header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $font-dark;
    padding-bottom: .5rem;
    img{
      width: 2.5rem;
    }
  
    .my-account{
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button{
        padding: .5rem;
        background: none;
        border: none;
        img{
          width: 1rem;
        }
      }
      .cart{
        position: relative;
        span{
          right: 1rem;
          top: .1rem;
          position: absolute;
          background: $primary;
          border-radius: 50%;
          padding: .1rem .3rem;
          font-size: .7em;
          color: $white;
          border: none;
        }
      }
      .search-bar{
        display: flex;
        align-items: center;
        transition: .3s ease-in-out;
        input{
          padding: .5rem;
          font-family: 'Montserrat';
          background: $white;
          border: none;
          border-radius: 2px;
        }
        img{
          width: 1rem;
          padding: .5rem;
        }
      }
      .search-bar.not{
        display: none;
      }
    }

  }
  ul{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $font-darker;
    li{
      list-style: none;
      text-transform: uppercase;
      font-size: .9em;
      font-weight: 700;
    }
    li.active{
      box-shadow: 0 2px 0  $primary;
      transition: .3s ease-in-out;
    }
    a{
      text-decoration:  none;
      color: $font-darker;
    }
  }
}
.section1{
  background: #dacdca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .section1-text{
    padding-left: 1rem;
    color: $font-darker;
    span{
      font-size: .5em;
    }
    h1{
      font-size: 1.8em;
    }
    button{
      margin-top: 1rem;
      border: 1px solid $primary;
      background: none;
      text-transform: uppercase;
      font-size: .5em;
      padding: .5rem 1rem;
      font-weight: 700;
      letter-spacing: .1rem;
      font-family: 'Montserrat';
    }
  }
  img{
    width: 30%;
  }
}
.section2{
  border-top: 1px solid $font-dark;
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  h3{
    text-transform: uppercase;
    font-size: .7em;
    color: $font-darker;
  }
  button{
    margin-top: 1rem;
    padding: .5rem 1.5rem;
    background: none;
    border: 1px solid $secondary;
    color: $font-darker;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .2rem;
    font-weight: 700;
    font-family: 'Montserrat';
  }
  .popular-items{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px 5px;
    .items{
      img{
        width: 100%;
        padding: 1rem 0;
      }
      h5{
        font-size: .8em;
        color: $font-dark;
      }
      span{
        margin: 1rem 0;
        color: gray;
        font-size: .8em;
      }
    }
    .items{
      animation: evenImage .4s ease-in 
    }
  }
}
.section3{
  margin: 1rem 0;
  .section2-text{
    text-align: center;
    margin-bottom: 1rem;
    h4{
      text-transform: uppercase;
      font-size: .7em;
      margin-bottom: 1rem;
      letter-spacing: .2rem;
    }
    p{
      font-size: .7em;
    }
  }
  .featured-collections-banner{
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    img{
      text-align: center;
      width: 100%;
      object-fit: contain;
    }
    .featured-container:nth-child(even){
      background: $neutral-gray;
    }
    .featured-container:nth-child(odd){
      background: $white;
    }
    .featured-container{
      padding: 1rem;
      h3{
        text-transform: capitalize;
        font-size: .9em;
      }
      button{
        margin: .5rem 0;
        background: none;
        border: none;
        color: gray;
      }
    }
  }
}
footer{
  background: $white;
  padding: 2rem;
  .tabs{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    img{

      width: 50%;
    }
    ul{
      margin: 1rem 0;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      color: $font-darker;
      li{
        list-style: none;
        text-transform: uppercase;
        margin: .5rem 0;
        font-size: .7em;
      }
    }
  }
 
  .socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      font-weight: 700;
    }
    a{
      text-decoration: none;
      padding-left: .5rem;
    }
    .social-icons{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      gap: 10px;
      img{
        width: 1rem;
      }
    }
  }
}
@media (min-width: 800px) {
  header{
    margin: 1.5rem 3rem;
    .header-logo{
      img{
        width: 3rem;
      }
    }
    ul{
      width: 50%;
      margin: 1rem 0;
    }
    .my-account{
      img{
        width: 1.5rem !important;
      }
      span{
        top: -.3rem !important;
        right: 1.3rem !important;
        font-size: 1em !important;
        padding: .2rem .5rem !important;
      }
    }
  }
  .section1{
    margin: 0 2rem;
    .section1-text{
      text-align: center;
      padding-left: 15%;
      span{
        font-size: .7em;
      }
      h1{
        font-size: 3.5em;
      }
    }
  }
  .section2{
    margin: 2rem;
    h3{
      font-size: 1em;
    }
    .popular-items{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .section3{
    margin: 2.5rem 2rem;
    .section2-text{
      h4{
        font-size: 1em;
      }
    }
    .featured-collections-banner{
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      .featured-container{
        padding: 2rem;
      }
    }
  }
  footer{
    display: grid;
    padding: 2rem 3rem;
    grid-template-columns: repeat(2, 1fr);
    .tabs{
      align-items: flex-start;
      img{
        width: 50%;
      }
      ul{
        align-items: flex-start;
        li{
          font-size: 1em;
        }
      }
    }
    .socials{
      padding: 5rem 0;
      flex-flow: column wrap;
      .social-icons{
        img{
          width: 1.3rem;
        }
        img:hover{
          cursor: pointer;
          transition: .3s ease;
          filter: brightness(0) saturate(100%) invert(13%) sepia(90%) saturate(3558%) hue-rotate(355deg) brightness(97%) contrast(105%);
        }
      }
    }
  }
}
@media (min-width: 1280px){
  header{
    margin: 1.5rem 5rem;
    .header-logo{
      align-items: center;
      img{
        width: 3rem;
      }
    }
    ul{
      width: 25%;
    }
  }
  .section1{
    margin: 0 4rem;
    img{
      padding-right: 5rem;
      width: 25%;
    }
    .section1-text{
      padding-left: 20%;
      span{
        font-size: 1em;
      }
      h1{
        font-size: 4.5em;
      }
      button{
        padding: .5rem 2rem;
      }
    }
  }
  .section2{
    margin: 4rem;
    h3{
      margin-bottom: 2.5rem;
    }
  }
  .section3{
    margin: 4rem 6rem;
    .featured-container{
      img{
        width: 40%;
      }
    }
  }
  footer{
    padding: 2rem 5rem;
  }
}
@keyframes evenImage{
  from{
    opacity: 0;
    transform: translateX(150%);
  }
}